extends layout

block content
    h1=title


    form(method='POST' action='')
        div.form-group
            label(for='customer') Zákazník:
            select#name.form-control(type='select' name='customer' placeholder='Vyber zákazníka' required='true')
                - customers_list.sort(function(a, b) {let textA = a.fullname.toUpperCase(); let textB = b.fullname.toUpperCase(); return (textA < textB) ? -1 : (textA > textB) ? 1 : 0;});
                option(value='') -- select --
                for customer in customers_list
                   if visit
                        option(value=customer._id selected=(visit.customer.id.toString()==customer._id.toString() ? 'selected' : false) : false) #{customer.fullname}
                   if customerid
                        option(value=customer._id selected=(customerid==customer._id.toString() ? 'selected' : false) : false) #{customer.fullname}
                   else
                        option(value=customer._id) #{customer.fullname}
            label(for='date') Od:
            input#name.form-control(type='datetime-local' name='datetime_from' value=(undefined===visit ? '' : visit.date_from.toISOString().slice(0,-8)) required='true')
            label(for='time_from') Do:
            input#name.form-control(type='datetime-local' name='datetime_to' value=(undefined===visit ? '' : visit.date_to.toISOString().slice(0,-8)) required='true')
            label(for='note') Poznámka:
            input#name.form-control(type='text' name='note' value=(undefined===visit ? '' : visit.note))
        button.btn.btn-primary(type='submit') Uložit


    if visit
        p
            text id: #{visit._id} &nbsp;
            br
            text date_from: #{visit.date_from}
            br
            text date_to: #{visit.date_to}
            br
            text date: #{visit.date}
            br
            text time_from: #{visit.time_from}
            br
            text time_to: #{visit.time_to}
            br
            text note: #{visit.note}
            br
            text customer.id: #{visit.customer.id}
            br
            text customer.fullname: #{visit.customer.fullname}
        p
           a(href=visit.url) Zpět


    if errors
        ul
            for error in errors
                li!= error.msg
